﻿@using System.Security.Claims;
@{
    ViewBag.Title = "About";
}
<p>@Context.User.Identity.Name.</p>


        <table class=" table table-striped">
            
                <tr>
                    <th>
                        Type
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
            
                @foreach (var claim in ((ClaimsIdentity)Context.User.Identity).Claims)
                {
                    <tr>
                        <td>
                            @claim.Type
                        </td>
                        <td>
                            @claim.Value
                        </td>
                    </tr>
                }
        </table>



